html {
    background-color: #fafafa;
    color: #404015;
}

body {
    background-color: inherit;
    color: inherit;
}

h1 {
    width:100%;
    border-bottom: solid 3px #f2df98;
    font-size: 2.0rem;
    margin: 0.5em 0 0.5em;
}

h2 {
    font-size: 1.75rem;
    padding: 0.5rem;
    color: #73613e;
    border-left: solid 1rem #f2df98;
    margin: 3em 0 1.5em;
}

h3 {
    font-size: 1.5rem;
    color: #73613e;;
    padding-bottom: 1rem;
    border-bottom: dashed 2px #f2df98;
    margin: 3em 0 1.5em;
}
h4 {
    font-size: 1.25rem;
    margin: 3em 0 1.5em;
}

h5 {

}

header {
    background-color: #73613e;
    color: #f2df98;
    margin: 0 auto;
    margin-bottom: 3rem;
    padding: 1.45rem 1.0875rem;

}

header .site_title {
    font-size: 3.0rem;
}

header a{
    color: #f2df98;
}

div.header_menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div.header_menu ul li {
    margin-left: 1rem;
    font-size: 1.5rem;
}

div.container {
    max-width: 800px;
}

article {
    margin-bottom: 3.8rem;
}

article a, article a:link, article a:visited, article a:hover, article a:active {
    color: #404015;
}

pre {
    padding-top: 0px !important;
}

div.indivisual-article{
    margin-top: 10em;
    border-bottom: dashed 5px #f2df98;
    margin-bottom: 3em;
}

div.indivisual-article > p {
    margin-bottom: 3em;
    line-height: 1.9;
    font-size: 18px;
}
@media only screen and (max-width: 480px) {
    div.indivisual-article > p {
        line-height: 1.7;
        font-size: 16px;
    }
}

div.indivisual-article > ul, ol {
    background: #eeeeee;
    padding: 3em;
}

div.indivisual-article > ul, ol> li {
    margin-bottom: 1em;
}

div.post-meta-data{
    border-radius: 1rem;
    padding-left: 1.5rem;
    margin-bottom: 1em;
}

div.meta-container {
    align-items: center
}

div.dateyear-container {
    background: #f2df98;
    margin: 0px;
    font-size: 1.5rem;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
}

div.dateyear-container > div {
    justify-content: center;
    margin: 0 auto;
}
div.dateyear-container > div.post-year-date {
    display: none;
}

@media only screen and (max-width: 768px) {
    div.dateyear-container {
        font-size: 0.8rem;
        max-width: unset;
        max-height: unset;
        min-width: unset;
        min-height: unset;
        border-radius: 1rem;
        background-color: #fafafa;
    }

    div.dateyear-container  > .post-year, .post-date{
        display: none;
    }

    div.dateyear-container > div.post-year-date {
        display: inline-block;
        border: none;
    }
}

div.body-container {
    padding: 1em 2em 1em 2em;
}

div.categories > span.post-category {
    margin-left: 0.3rem;
}

div.tags {
    margin-left: 1rem;
}
div.tags > span.post-tag {
    margin-left: 0.3rem;
}

.code-title {
  margin-bottom: -0.6rem;
  padding: 0.5em 1em;
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;

  background-color: #f2df98;
  color: #73613e;
  z-index: 0;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  display: table;
}

.sns-share-icons  > button {
    margin-right: 1vw;
}

/* BootStrap4 extend */
.text-gi-med {
    color: #73613e;
}
.bg-gi-light {
    background-color: #f2df98;
}
